# Loading Data in Python

0. Manually loading a file.
1. Using `np.loadtxt`
2. Using `np.genfromtxt`
3. Using `pd.read_csv`
4. Using `pickle`

In [45]:
import numpy as np
import pickle
import pandas as pd
import os

filename="load.csv"

In [38]:
cols = None
data = []
with open(filename) as f:
    for line in f.readlines():
        vals=line.replace("\n","").split(",")
        if cols is None:
            cols=vals
        else:
            data.append([float(x) for x in vals])
d0=pd.DataFrame(data,columns=cols)
print(d0.dtypes)
d0.head()

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

       A       B       C        D      E
0  1.276  21.400  63.957  216.204  528.0
1  1.002  21.950  61.697  204.484  514.0
2  1.114  22.454  63.522  205.608  514.0
3  1.133  22.494  61.590  206.565  501.0
4  0.845  21.654  63.729  201.289  532.0

In [7]:
d1=np.loadtxt(filename,skiprows=1,delimiter=",")
print(d1.dtype)
print(d1[:5,:])

float64
[[  1.276  21.4    63.957 216.204 528.   ]
 [  1.002  21.95   61.697 204.484 514.   ]
 [  1.114  22.454  63.522 205.608 514.   ]
 [  1.133  22.494  61.59  206.565 501.   ]
 [  0.845  21.654  63.729 201.289 532.   ]]

In [28]:
d2=np.genfromtxt(filename,delimiter=",",names=True,dtype=None,skip_header=1)
print(d2.dtype)
print(d2[:5])

[('1276', '<f8'), ('21400', '<f8'), ('63957', '<f8'), ('216204', '<f8'), ('528', '<i4')]
[(1.002, 21.95 , 61.697, 204.484, 514)
 (1.114, 22.454, 63.522, 205.608, 514)
 (1.133, 22.494, 61.59 , 206.565, 501)
 (0.845, 21.654, 63.729, 201.289, 532)
 (0.955, 21.046, 61.626, 212.664, 524)]

In [30]:
d3=pd.read_csv(filename)
print(d3.dtypes)
d3.head()

A    float64
B    float64
C    float64
D    float64
E      int64
dtype: object

       A       B       C        D    E
0  1.276  21.400  63.957  216.204  528
1  1.002  21.950  61.697  204.484  514
2  1.114  22.454  63.522  205.608  514
3  1.133  22.494  61.590  206.565  501
4  0.845  21.654  63.729  201.289  532

In [42]:
with open('load_pickle.pickle','rb') as f:
  d4=pickle.load(f)
print(d4.shape)

(500, 5)

In [4]:
import random

hanguls=list("가나다라마사아자차카타파하")

with open("info.txt",'w') as file:
    for i in range(1000):
        name=random.choice(hanguls)+random.choice(hanguls)
        weight=random.randrange(40,100)
        height=random.randrange(150,200)
        file.write("{},{},{}\n".format(name,weight,height))

In [6]:
with open("info.txt",'r') as file:
    for line in file:
        name, weight, height=line.strip().split(',')
        
        if

In [10]:
not name

False