# Preparing a dataset

* How does the dataset handle invalid values? 
* What do we want to do with null values?
* Do we want to summarise, group or filter the data?

In [3]:
import pandas as pd
import numpy as np

df=pd.read_csv('Diabetes.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df=df.fillna(0)

In [10]:
df2=df[['Glucose','BMI','Age','Outcome']]

In [11]:
df2.head()

   Glucose   BMI  Age  Outcome
0      148  33.6   50        1
1       85  26.6   31        0
2      183  23.3   32        1
3       89  28.1   21        0
4      137  43.1   33        1

In [12]:
df2.describe()

          Glucose         BMI         Age     Outcome
count  768.000000  768.000000  768.000000  768.000000
mean   120.894531   31.992578   33.240885    0.348958
std     31.972618    7.884160   11.760232    0.476951
min      0.000000    0.000000   21.000000    0.000000
25%     99.000000   27.300000   24.000000    0.000000
50%    117.000000   32.000000   29.000000    0.000000
75%    140.250000   36.600000   41.000000    1.000000
max    199.000000   67.100000   81.000000    1.000000

In [53]:
df3=df2.loc[~(df2[df2.columns[:-1]]==0).any(axis=1)]

In [32]:
df3.groupby(['Outcome']).mean()

            Glucose        BMI        Age
Outcome
0        110.825820  30.876434  31.309426
1        142.488636  35.371970  37.015152

In [35]:
df3.groupby(['Outcome']).agg({'Glucose':'mean','BMI':'median','Age':'sum'})

            Glucose    BMI    Age
Outcome
0        110.825820  30.10  15279
1        142.488636  34.25   9772

In [36]:
df3.groupby(['Outcome']).agg(['mean','median'])

            Glucose               BMI               Age
               mean median       mean median       mean median
Outcome
0        110.825820  107.5  30.876434  30.10  31.309426   27.0
1        142.488636  140.5  35.371970  34.25  37.015152   36.0

In [38]:
positive=df3.loc[df3.Outcome==1]
negative=df3.loc[df3.Outcome==0]
print(positive.shape,negative.shape)

(264, 4) (488, 4)

In [40]:
df3.to_csv('clean_diabetes.csv',index=False)

In [39]:
%ls

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 885D-45D9

 C:\Users\a3xr4zz\playpy\Python for Statistical Analysis_Udemy\PreparingDatasets 디렉터리

10/03/2021  08:55 PM    <DIR>          .
10/03/2021  08:55 PM    <DIR>          ..
10/03/2021  08:25 PM    <DIR>          .ipynb_checkpoints
10/03/2021  08:22 PM            10,364 clean_diabetes.csv
10/03/2021  08:22 PM            23,873 Diabetes.csv
10/03/2021  08:25 PM            22,515 Prepare.ipynb
10/03/2021  08:55 PM            19,496 Prepare_Practice.ipynb
               4개 파일              76,248 바이트
               3개 디렉터리  124,611,026,944 바이트 남음